{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}


{% block main %}

    <form action="/change_password" method="post">
        <div class="mb-3">
            <input autofocus class="form-control mx-auto w-auto" name="new_password" placeholder="New password" type="text">
            <input autofocus class="form-control mx-auto w-auto" name="confirmation" placeholder="Type again" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Save Changes</button>
    </form>

{% endblock %}